Import and initiate findspark
Then import pyspark

In [ ]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

Instatiate SparkSession with Hive support

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL example") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

In [ ]:
spark.sql("SELECT * FROM customers").show()

In [ ]:
spark.sql("SELECT * FROM products").show()

In [ ]:
cStateCount50 = spark.sql("SELECT customer_state, count(*) as state_count FROM customers GROUP BY customer_state HAVING state_count>=50")

Output of a Hive query will be a DataFrame

In [ ]:
type(cStateCount50)

In [ ]:
cStateCount50.printSchema()

In [ ]:
cStateCount50.show()

In [ ]:
prd200 = spark.sql("SELECT category_id, product_category, count(*) as prdcount FROM products WHERE product_price>200 GROUP BY category_id, product_category ORDER BY product_category")

In [ ]:
type(prd200)

In [ ]:
prd200.show()

In [ ]:
prd200.printSchema()

Write these dataframes into Hive tables after creating a new database

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS retaildb")

In [ ]:
cStateCount50.coalesce(1).write.saveAsTable("retaildb.cStateCount50")

In [ ]:
prd200.coalesce(1).write.saveAsTable("retaildb.prd200")