In [1]:
import findspark
findspark.init("/usr/local/spark")
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL example").getOrCreate()

In [4]:
salestxnDF = spark.read.load("salestxn_header.txt", format="csv", sep="\t", inferSchema="true", header="true")

In [5]:
salestxnDF.printSchema()

root
 |-- txn_id: integer (nullable = true)
 |-- txn_date: string (nullable = true)
 |-- txn_cust_id: integer (nullable = true)
 |-- txn_amount: integer (nullable = true)
 |-- txn_item_category: string (nullable = true)
 |-- txn_item_name: string (nullable = true)
 |-- txn_city: string (nullable = true)
 |-- txn_state: string (nullable = true)
 |-- txn_payment: string (nullable = true)

In [6]:
salestxnDF.createOrReplaceTempView("salestxn")

In [8]:
stxnDF = spark.sql("SELECT * from salestxn").show()

+------+----------+-----------+----------+--------------------+--------------------+----------+-------------+-----------+
|txn_id|  txn_date|txn_cust_id|txn_amount|   txn_item_category|       txn_item_name|  txn_city|    txn_state|txn_payment|
+------+----------+-----------+----------+--------------------+--------------------+----------+-------------+-----------+
|   103|06-01-2014|    5000002|       558|  Exercise & Fitness|Weightlifting Mac...|  Gulbarga|    Karnataka|     credit|
|   124|05-02-2014|    5000009|      9950|          Gymnastics|    Gymnastics Rings|   Gurgaon|      Haryana|     credit|
|   130|06-03-2014|    5000001|     12690|  Outdoor Recreation|             Hunting|   Aligarh|Uttar Pradesh|     credit|
|   155|10-03-2014|    5000007|     15487|  Outdoor Recreation|             Running| Bangalore|    Karnataka|     credit|
|   153|02-04-2014|    5000005|      4482|Outdoor Play Equi...|   Lawn Water Slides|   Asansol|       Bengal|       cash|
|   104|06-05-2014|    5000003|     19819|          Gymnastics|    Gymnastics Rings|   Chennai|   Tamil Nadu|     credit|
|   139|08-05-2014|    5000007|     15060|  Outdoor Recreation|Camping & Backpac...|   Kolkata|       Bengal|     credit|
|   135|05-06-2014|    5000008|      9896|         Team Sports|   Indoor Volleyball|    Bhopal|          M.P|     credit|
|   141|11-07-2014|    5000005|     16510|         Team Sports|        Cheerleading|Coimbatore|   Tamil Nadu|     credit|
|   160|11-07-2014|    5000001|      2143|       Winter Sports|        Snowboarding|  Amritsar|       Punjab|       cash|
|   113|02-08-2014|    5000009|      4152|        Indoor Games|             Bowling| Bangalore|    Karnataka|     credit|
|   125|06-10-2014|    5000003|     15120|        Water Sports|             Surfing|   Nanital|  Uttarakhand|     credit|
|   143|09-10-2014|    5000004|      3852|  Outdoor Recreation|          Tetherball|  Dehradun|  Uttarakhand|       cash|
|   123|10-10-2014|    5000009|      1964|        Water Sports|         Kitesurfing|Saint Paul|    Minnesota|     credit|
|   145|09-11-2014|    5000001|     13537|        Water Sports|             Surfing|  Agartala|      Tripura|     credit|
|   127|10-11-2014|    5000009|      3158|       Combat Sports|           Wrestling|     Hubli|    Karnataka|     credit|
|   140|03-12-2014|    5000006|     17436|Outdoor Play Equi...|          Swing Sets|  Faridkot|       Punjab|     credit|
|   136|04-12-2014|    5000008|     18526|               Games|         Board Games| Dibrugarh|        Assam|     credit|
|   129|05-12-2014|    5000008|      7978|         Team Sports|             Cricket|    Kollam|       Kerala|     credit|
|   154|06-12-2014|    5000004|      4446|        Water Sports|Scuba Diving & Sn...|  Varanasi|Uttar Pradesh|       cash|
+------+----------+-----------+----------+--------------------+--------------------+----------+-------------+-----------+
only showing top 20 rows

In [9]:
stxnDF = spark.sql("SELECT * from salestxn WHERE txn_amount > 10000").show()

+------+----------+-----------+----------+--------------------+--------------------+-------------+--------------+-----------+
|txn_id|  txn_date|txn_cust_id|txn_amount|   txn_item_category|       txn_item_name|     txn_city|     txn_state|txn_payment|
+------+----------+-----------+----------+--------------------+--------------------+-------------+--------------+-----------+
|   130|06-03-2014|    5000001|     12690|  Outdoor Recreation|             Hunting|      Aligarh| Uttar Pradesh|     credit|
|   155|10-03-2014|    5000007|     15487|  Outdoor Recreation|             Running|    Bangalore|     Karnataka|     credit|
|   104|06-05-2014|    5000003|     19819|          Gymnastics|    Gymnastics Rings|      Chennai|    Tamil Nadu|     credit|
|   139|08-05-2014|    5000007|     15060|  Outdoor Recreation|Camping & Backpac...|      Kolkata|        Bengal|     credit|
|   141|11-07-2014|    5000005|     16510|         Team Sports|        Cheerleading|   Coimbatore|    Tamil Nadu|     credit|
|   125|06-10-2014|    5000003|     15120|        Water Sports|             Surfing|      Nanital|   Uttarakhand|     credit|
|   145|09-11-2014|    5000001|     13537|        Water Sports|             Surfing|     Agartala|       Tripura|     credit|
|   140|03-12-2014|    5000006|     17436|Outdoor Play Equi...|          Swing Sets|     Faridkot|        Punjab|     credit|
|   136|04-12-2014|    5000008|     18526|               Games|         Board Games|    Dibrugarh|         Assam|     credit|
|   150|07-12-2014|    5000010|     14459|             Jumping|      Jumping Stilts|        Surat|        Gujrat|     credit|
|   106|02-14-2014|    5000004|     19363|  Outdoor Recreation|Camping & Backpac...|      Sonipat|       Haryana|     credit|
|   114|03-13-2014|    5000010|     10780|         Team Sports|        Field Hockey|        Patna|         Bihar|     credit|
|   110|05-17-2014|    5000006|     15246|             Jumping|      Bungee Jumping|St. New Delhi|         Delhi|     credit|
|   102|05-26-2014|    5000002|     19844|  Exercise & Fitness|Weightlifting Gloves|    Mangalore|     Karnataka|     credit|
|   111|05-29-2014|    5000007|     18028|  Outdoor Recreation|             Archery|      Madurai|    Tamil Nadu|     credit|
|   134|06-15-2014|    5000008|     15415|  Outdoor Recreation|          Lawn Games|    Vijaywada|Andhra Pradesh|     credit|
|   112|06-18-2014|    5000009|     12139|Outdoor Play Equi...|          Swing Sets|       Jaipur|     Rajesthan|     credit|
|   157|06-21-2014|    5000002|     17663|  Outdoor Recreation|          Geocaching|  Ghandinagar|        Gujrat|     credit|
|   149|09-27-2014|    5000007|     15794|  Exercise & Fitness|      Exercise Bands|     Ludhiana|        Punjab|     credit|
|   126|10-14-2014|    5000009|     14420|        Indoor Games|               Darts|    Allahabad| Uttar Pradesh|     credit|
+------+----------+-----------+----------+--------------------+--------------------+-------------+--------------+-----------+
only showing top 20 rows

In [11]:
newformatDF = spark.sql("SELECT txn_id, txn_date, txn_cust_id, txn_amount, (txn_item_category, txn_item_name) as txn_item_details, txn_city, txn_state, txn_payment FROM salestxn WHERE txn_amount > 10000")

In [14]:
newformatDF.show()

+------+----------+-----------+----------+--------------------+-------------+--------------+-----------+
|txn_id|  txn_date|txn_cust_id|txn_amount|    txn_item_details|     txn_city|     txn_state|txn_payment|
+------+----------+-----------+----------+--------------------+-------------+--------------+-----------+
|   130|06-03-2014|    5000001|     12690|[Outdoor Recreati...|      Aligarh| Uttar Pradesh|     credit|
|   155|10-03-2014|    5000007|     15487|[Outdoor Recreati...|    Bangalore|     Karnataka|     credit|
|   104|06-05-2014|    5000003|     19819|[Gymnastics,Gymna...|      Chennai|    Tamil Nadu|     credit|
|   139|08-05-2014|    5000007|     15060|[Outdoor Recreati...|      Kolkata|        Bengal|     credit|
|   141|11-07-2014|    5000005|     16510|[Team Sports,Chee...|   Coimbatore|    Tamil Nadu|     credit|
|   125|06-10-2014|    5000003|     15120|[Water Sports,Sur...|      Nanital|   Uttarakhand|     credit|
|   145|09-11-2014|    5000001|     13537|[Water Sports,Sur...|     Agartala|       Tripura|     credit|
|   140|03-12-2014|    5000006|     17436|[Outdoor Play Equ...|     Faridkot|        Punjab|     credit|
|   136|04-12-2014|    5000008|     18526| [Games,Board Games]|    Dibrugarh|         Assam|     credit|
|   150|07-12-2014|    5000010|     14459|[Jumping,Jumping ...|        Surat|        Gujrat|     credit|
|   106|02-14-2014|    5000004|     19363|[Outdoor Recreati...|      Sonipat|       Haryana|     credit|
|   114|03-13-2014|    5000010|     10780|[Team Sports,Fiel...|        Patna|         Bihar|     credit|
|   110|05-17-2014|    5000006|     15246|[Jumping,Bungee J...|St. New Delhi|         Delhi|     credit|
|   102|05-26-2014|    5000002|     19844|[Exercise & Fitne...|    Mangalore|     Karnataka|     credit|
|   111|05-29-2014|    5000007|     18028|[Outdoor Recreati...|      Madurai|    Tamil Nadu|     credit|
|   134|06-15-2014|    5000008|     15415|[Outdoor Recreati...|    Vijaywada|Andhra Pradesh|     credit|
|   112|06-18-2014|    5000009|     12139|[Outdoor Play Equ...|       Jaipur|     Rajesthan|     credit|
|   157|06-21-2014|    5000002|     17663|[Outdoor Recreati...|  Ghandinagar|        Gujrat|     credit|
|   149|09-27-2014|    5000007|     15794|[Exercise & Fitne...|     Ludhiana|        Punjab|     credit|
|   126|10-14-2014|    5000009|     14420|[Indoor Games,Darts]|    Allahabad| Uttar Pradesh|     credit|
+------+----------+-----------+----------+--------------------+-------------+--------------+-----------+
only showing top 20 rows

In [15]:
newformatDF.coalesce(1).write.json("newformatJSON")