Load the data of the file into PySpark SQL DataFrames

In [28]:
import findspark
findspark.init('/usr/local/spark/')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL").getOrCreate()

In [8]:
df = spark.read.load("CreditCard.csv", format="csv",  inferSchema="true", header="true")

Print the schema of the DataFrame

In [6]:
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)
 |-- eligible: boolean (nullable = true)
 |-- active: boolean (nullable = true)
 |-- country: string (nullable = true)

Show the first 10 rows of the DataFrame

In [10]:
df.show(10)

+---------+----------+--------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
|RowNumber|CustomerId| Surname|CreditScore|Gender|Age|Tenure|  Balance|NumOfProducts|EstimatedSalary|Exited|eligible|active|country|
+---------+----------+--------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
|        1|  15634602|Hargrave|        619|Female| 42|     2|      0.0|            1|      101348.88|     1|    true|  true| Canada|
|        2|  15647311|    Hill|        608|Female| 41|     1| 83807.86|            1|      112542.58|     0|   false| false| France|
|        3|  15619304|    Onio|        502|Female| 42|     8| 159660.8|            3|      113931.57|     1|    true|  true|    USA|
|        4|  15701354|    Boni|        699|Female| 39|     1|      0.0|            2|       93826.63|     0|    true| false|  Italy|
|        5|  15737888|Mitchell|        850|Female| 43|     2|125510.82|            1|        79084.1|     0|    true| false|     UK|
|        6|  15574012|     Chu|        645|  Male| 44|     8|113755.78|            2|      149756.71|     1|   false|  true|Germany|
|        7|  15592531|Bartlett|        822|  Male| 50|     7|      0.0|            2|        10062.8|     0|    true| false|Germany|
|        8|  15656148|  Obinna|        376|Female| 29|     4|115046.74|            4|      119346.88|     1|    true| false|Germany|
|        9|  15792365|      He|        501|  Male| 44|     4|142051.07|            2|        74940.5|     0|    true|  true| Canada|
|       10|  15592389|      H?|        684|  Male| 27|     2|134603.88|            1|       71725.73|     0|   false|  true|     UK|
+---------+----------+--------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
only showing top 10 rows

In [18]:
df.createOrReplaceTempView("CreditCard")

Number of members eligible for credit card

In [22]:
eligible_for_creditCard = spark.sql("SELECT  count(*) FROM CreditCard where eligible='true'")
eligible_for_creditCard.show()

+--------+
|count(1)|
+--------+
|    5013|
+--------+

Number of members who are eligible and active

In [23]:
eligible_and_active = spark.sql("SELECT  count(*) FROM CreditCard where eligible='true' and active='true'")
eligible_and_active.show()

+--------+
|count(1)|
+--------+
|    2495|
+--------+

Credit card users belonging to Spain

In [24]:
user_spain = spark.sql("SELECT  * FROM CreditCard where country='Spain'")
user_spain.show()

+---------+----------+---------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
|RowNumber|CustomerId|  Surname|CreditScore|Gender|Age|Tenure|  Balance|NumOfProducts|EstimatedSalary|Exited|eligible|active|country|
+---------+----------+---------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
|       11|  15767821|   Bearce|        528|  Male| 31|     6|102016.72|            2|       80181.12|     0|    true|  true|  Spain|
|       13|  15632264|      Kay|        476|Female| 34|    10|      0.0|            2|       26260.98|     0|    true| false|  Spain|
|       17|  15737452|    Romeo|        653|  Male| 58|     1|132602.88|            1|        5097.67|     1|   false|  true|  Spain|
|       21|  15577657| McDonald|        732|  Male| 41|     8|      0.0|            2|      170886.17|     0|   false| false|  Spain|
|       43|  15687946|  Osborne|        556|Female| 61|     2|117419.35|            1|       94153.83|     0|   false|  true|  Spain|
|       50|  15771873|   Buccho|        776|Female| 37|     2|103769.22|            2|      194099.12|     0|   false| false|  Spain|
|       52|  15768193|Trevisani|        585|  Male| 36|     5|146050.97|            2|       86424.57|     0|   false|  true|  Spain|
|       56|  15760861|Phillipps|        619|  Male| 43|     1|125211.92|            1|      113410.49|     0|   false| false|  Spain|
|       62|  15773469|    Clark|        687|Female| 27|     9|152328.88|            2|      126494.82|     0|    true|  true|  Spain|
|       68|  15641582|  Chibugo|        735|  Male| 43|    10|123180.01|            2|      196673.28|     0|    true| false|  Spain|
|       70|  15755648|   Pisano|        675|Female| 21|     8| 98373.26|            1|        18203.0|     0|   false| false|  Spain|
|       84|  15701164|Onyeorulu|        506|Female| 34|     4| 90307.62|            1|      159235.29|     0|   false| false|  Spain|
|      100|  15633059|  Fanucci|        413|  Male| 34|     9|      0.0|            2|        6534.18|     0|    true| false|  Spain|
|      102|  15743192|     Hung|        623|Female| 44|     6|      0.0|            2|      167162.43|     0|   false|  true|  Spain|
|      138|  15610156|       Ma|        637|  Male| 40|     2| 133463.1|            1|       93165.34|     0|    true| false|  Spain|
|      141|  15698932|   Groves|        756|  Male| 44|    10|137452.09|            1|       189543.9|     0|   false|  true|  Spain|
|      151|  15650237|   Morgan|        754|Female| 32|     7|      0.0|            2|       89520.75|     0|    true| false|  Spain|
|      156|  15679145|     Chou|        706|  Male| 57|     7|      0.0|            1|       17941.16|     1|   false|  true|  Spain|
|      161|  15692132|Wilkinson|        717|Female| 22|     6|101060.25|            1|       84699.56|     0|    true| false|  Spain|
|      165|  15658929| Taverner|        683|  Male| 29|     0|133702.89|            1|       55582.54|     1|   false| false|  Spain|
+---------+----------+---------+-----------+------+---+------+---------+-------------+---------------+------+--------+------+-------+
only showing top 20 rows

Save the above output as comma separated value files

In [27]:
output_path="/home/hduser/hive/PySPark/AssessmentOP"
user_spain.write.csv(output_path,header=True)